@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.home-container h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-family: "ubuntu";
  border-right: .15em solid gray; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 5px auto;
  letter-spacing: .15em;
}

.greeting-anim {
    animation: 
    typing 1.5s steps(15, end) forwards,
    blinking 0.75s step-end infinite;
}

.phrase-anim {
    visibility: hidden;
    animation:
    typing-phrase 3s steps(35, end) 1.5s forwards,
    blinking 0.75s step-end infinite;
}

.home-container ul {
  margin-top: 2rem;
  position:static;
  display: flex;
  margin: 2rem 1rem;
  gap: 3rem;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: sans-serif;
}

.home-container a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
  opacity: 0;
  transition: color 0.5s, border 1s;
  animation:
  fade-in 1s steps(100, end) 4s forwards;
}

.home-container a:hover {
  color: cyan;
  border-bottom: 1px groove darkblue;
  border-radius: 50%;
  text-shadow: 0px 1px 1.2rem;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 7rem }
  100% {border-right: 0;}
}

@keyframes typing-phrase {
    from { width: 0;}
    to { width: 18.3rem; visibility: visible; }
}

/* The typewriter cursor effect */
@keyframes blinking {
    from, to { border-color: transparent }
    50% { border-color: gray; }
}

@keyframes fade-in {
  from { opacity: 0%;}
  to { opacity: 100%;}
}